/*
  Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Variables */
:root {
  --background-color-paper: rgba(247, 231, 206, 0.5);
  --background-color-test: rgba(247, 231, 206, 0.5);
  /* --background-color-almond: rgba(239, 222, 205, 0.1); */
  --text-color-red: rgba(71, 2, 14, 1.0);
  --text-color-green: rgba(37, 53, 41, 1.0);
  --text-color-testgreen: #233728;
  --font-family-benne-reg: benne-reg;
}

/* Import Font */
@font-face {
  font-family: benne-reg;
  src: url(./font/Benne-Regular.otf);
}

/* Global Styles */
body {
  color: var(--text-color-testgreen);
  font-family: var(--font-family-benne-reg);
}

p {
  margin-bottom: 1rem;
}

a {
  color: inherit;
}

.main {
  background-color: var(--background-color-paper);
  padding: 1rem 2rem 1rem 2rem;
}

.page-title {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.info-image {
  max-width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}

.info-text {
  font-size: 1.25rem;
  max-width: 45rem;
}

/* Header Styles */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: var(--background-color-test);
}

.header-title {
  font-weight: lighter;
}

.header a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0%;
  gap: 2.5rem;
}

.nav-links li {
  color: var(--text-color-green);
  font-size: 1.5rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 3rem;
}

/* Homepage Styles */
.testimonial {
  font-size: 1.125rem;
  margin: .75rem auto .75rem auto;
  max-width: 75vw;
  text-align: center;
}

/* Footer Styles */
.footer {
  /* background-color: var(--background-color-test); */
  background-color: white;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
}

.footer p {
  margin-left: 1rem;
  margin-bottom: 0;
}

.footer-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
  width: auto;
  padding: 1rem;
}

/* 
isc w 650 x h 186 px
union w 200 x h 200 px
asi w 300 x h 201 px
*/

/* Rates Page Styles */
.rates,
.contact {
  max-width: 50rem;
}

/* Portfolio Grid Styles*/
.project-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  column-gap: 1rem;
  grid-template-columns: repeat(2, minmax(100px, 400px));
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
}

.book-citation,
.book-cover{
  place-self: center;
}

.book-cover img {
  width: 250px;
  height: auto;
  border-radius: 1rem;
}

/* PACBI Styles */
.pacbi-list {
  margin-bottom: 1rem;
}

.pal-flag {
  width: 100%;
  height: 220px;
  background-image: url('./images/pal-flag.jpg');
  background-position: center center;
}

/* For Small Screens */
@media all and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}